# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test Reports
test-output/
surefire-reports/
